/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* To clear floats*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 100%;
	height: 100%
	background-color: blue;
	margin: 0 auto;
}
.sidebar {
	background-color: grey;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	height: 100%;
	width: 25%;
	/*border: 4px solid;*/
/*	background-image: url(../img/side.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}


.square {
	background-color: red;
	/*border: 1px solid;*/
	height: 20%;
	width: 65%;
	position:relative;
	top: 20%;
	margin: 0 auto;
	/*background-image: url(../img/images.png);
	background-position: center;
	border-radius: 50%;
	background-repeat: cover;
*/
}

.content {
	float: left;
	background-color: pink;
	width: 75%;
	height: 100%;
	margin-left: 25%;
}

.menu {
	/*border: 1px solid;*/
	width: auto;
	position:relative;
	margin:0 auto;
	top: 25%;
}

li {

	background-color: white;
    padding: 10%;
    margin: 2px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
    list-style: none;
}


.home {
	background-color: pink;
	height: 500px;
	/*border: 4px solid;*/
	text-align: center;
	font-size: 2em;
	padding: 10px; 
	/*background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

.inside1 {
	background-color: grey;
	height: auto;
	width:50%;
	/*border: 2px solid;*/
	position:relative;
	margin: 0 auto;
	top:25%;
	opacity: 0.5;
}

h1 {
	height: auto;
	border: 1px solid;
	font-size: 0.6em;
}

p {
	font-size: 0.7em;

}

h3 {
	padding: 10px;
}




.about {
	background-color: green;
	height: 500px;
	/*border: 4px solid;*/
	text-align: center;
	font-size: 2em;
	/*background-image: url(../img/parol.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

.services {
	background-color: violet;
	height: 500px;
	width: 100%;
	/*border: 4px solid;*/
	text-align: center;
	font-size: 2em;
/*	background-image: url(../img/tree.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

.services1,
.services2,
.services3 {
	/*border: 1px solid;*/
	width: 33.3%;
	height: 100%;
	position: relative;
	float: left;
	top: -8.6%;
	margin: 0 auto;
}

.serv1,
.serv2,
.serv3 {
	width:60%;
	height: auto;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	top: 10%;
}

.projects {
	background-color: grey;
	height: 500px;
	/*border: 4px solid;*/
	text-align: center;
	font-size: 2em;
/*	background-image: url(../img/carol.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}


.gallery {
	background-color: yellow;
	height: 500px;
	/*border: 4px solid;*/
	text-align: center;
	font-size: 2em;
/*	background-image: url(../img/jose.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}


.gallery1,
.gallery2,
.gallery3,
.gallery4 {
	/*background-color: yellow;*/
	/*border: 1px solid;*/
	width: 25%;
	height: 100%;
	position: relative;
	float: left;
	top: -8.6%;
	margin: 0 auto;
}

.gal1,
.gal2,
.gal3,
.gal4 {
	width:60%;
	height: auto;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	top: 10%;
}



footer {
	/*border: 1px solid;*/
	background-color: black;
	color: white;
}




#toggleIcon,
#toggleIcon1 {
	background-color: red;
	position: fixed;
	top: 0;
	left: 25%;
	padding: 15px;
	z-index: 1;
	color:white;
	font-size: 2em;
	/*margin-left: 4px;*/
	/*margin-top: 4px;*/
}

#toggleIcon1 {
	left:0;
}

/*Mobile Devices----------------------------------------------------------------------------------*/
@media only screen and (max-width: 568px) {

p {
	font-size: 0.35em;
}
.inside1 {
	background-color: grey;
	height: auto;
	width:30%;
	/*border: 2px solid;*/
	position:relative;
	margin: 0 auto;
	top:25%;
	opacity: 0.5;
	/*font-size: calc(0.35 + 1vmin);*/
}

.gallery1,
.gallery2,
.gallery3,
.gallery4 {
	/*background-color: yellow;*/
	/*border: 1px solid;*/
	width: 100%;
	height: 25%;
	position: relative;
	float: left;
	top: -8.6%;
	margin: 0 auto;
}

.services1,
.services2,
.services3 {
	/*background-color: blue;*/
	/*border: 1px solid;*/
	width: 100%;
	height: 33.33%;
	position: relative;
	float: left;
	top: -8.6%;
	margin: 0 auto;
}
.services {
	padding: 10px;
}
}


/*Tablet Devices----------------------------------------------------------------------------------*/
@media only screen and (min-width: 569px) and (max-width: 968px) {

p {
	font-size: 0.47em;
}
.inside1 {
	background-color: grey;
	height: auto;
	width:30%;
	/*border: 2px solid;*/
	position:relative;
	margin: 0 auto;
	top:25%;
	opacity: 0.5;
}

.gallery1,
.gallery2,
.gallery3,
.gallery4 {
	/*background-color: yellow;*/
	/*border: 1px solid;*/
	width: 50%;
	height: 50%;
	position: relative;
	float: left;
	top: -8.6%;
	margin: 0 auto;
}

.services1,
.services2,
.services3 {
	/*background-color: blue;*/
	/*border: 1px solid;*/
	width: 100%;
	height: 33.33%;
	position: relative;
	float: left;
	top: -8.6%;
	margin: 0 auto;
}
}
