* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* To clear floats*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}



/*.section {
	width: 50%;
	background-image: center center;*/

/*.roadbike {*/
	/*position: absolute;
	padding-top: 30px;
	max-width:100%;height:auto;
	text-align: center;*/

/*	position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 125;
    text-align: center;
}*/
/*.rbtext {
	position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;

}*/

/*.rb {
	position: relative;
}*/

.wrapper {
	height: 100vh;
	width: 100%;
	margin: 0 auto;
	/*border: 4px solid;*/
	background-color: green;
}

.roadbike {
	background-color: grey;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	height: 100%;
	width: 25%;
	border: 4px solid;
}

.rb {
	float: right;
	background-color: pink;
	width: 75%;
	height: 100%;
/*	margin-left: 25%;*/
}

/*.roadbike {
	height:25%;
	width: 25%;
	border: 1px solid;
	background-color: pink;
}*/
