/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* To clear floats*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 100%;
	height: 100%
	background-color: blue;
	margin: 0 auto;
}
.sidebar {
	background-color: grey;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	height: 100%;
	width: 25%;
	border: 4px solid;

}

.square {
	background-color: red;
	border: 1px solid;
	height: 35%;
	width: 65%;
	position:relative;
	top: 20%;
	margin: 0 auto;
	background-image: url(../img/images.png);
	background-position: center;
	border-radius: 41%;
}

.content {
	float: left;
	background-color: pink;
	width: 75%;
	height: 100%;
	margin-left: 25%;
}

.menu {
	/*border: 1px solid;*/
	width: 25%;
	position:relative;
	margin:0 auto;
	top: 25%;
}

li {
	background-color: white;
    padding: 10px;
    margin: 2px;
    text-align: center;
    width: 100%;
    border-radius: 15px;
}


.home {
	background-color: pink;
	height: 500px;
	border: 4px solid;
	text-align: center;
}

.inside1 {
	background-color: green;
	height: 42%;
	width:30%;
	border: 2px solid;
	position:relative;
	margin: 0 auto;
	top:25%;
}

/*.inside2 {
	background-color: blue;
	height: 100px;
	width: 200px;
	border: 2px solid;
	position:relative;
	margin: 0 auto;
	top:50px;

}*/






.about {
	background-color: green;
	height: 500px;
	border: 4px solid;
	text-align: center;
}

.services {
	background-color: violet;
	height: 500px;
	border: 4px solid;
	text-align: center;
}

.projects {
	background-color: grey;
	height: 500px;
	border: 4px solid;
	text-align: center;
}

.gallery {
	background-color: yellow;
	height: 500px;
	border: 4px solid;
	text-align: center;
}

footer {
	border: 1px solid;
	background-color: black;
	color: white;
}