/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* To clear floats*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.wrapper {
	width: 100%;
	height: 100%
	background-color: blue;
	margin: 0 auto;
}
.sidebar {
	background-color: grey;
	position: fixed;
	left:0;
	right: 0;
	top: 0;
	height: 100%;
	width: 25%;
	border: 4px solid;
/*	background-image: url(../img/side.jpg);
	background-repeat: no-repeat;
	background-size: cover;*/
}


.square {
	background-color: red;
	border: 1px solid;
	height: 20%;
	width: 65%;
	position:relative;
	top: 20%;
	margin: 0 auto;
	/*background-image: url(../img/images.png);
	background-position: center;
	border-radius: 50%;
	background-repeat: cover;
*/
}

.content {
	float: left;
	background-color: pink;
	width: 75%;
	height: 100%;
	margin-left: 25%;
}

.menu {
	/*border: 1px solid;*/
	width: auto;
	position:relative;
	margin:0 auto;
	top: 25%;
}

li {

	background-color: white;
    padding: 10%;
<<<<<<< HEAD
    margin: 2px;
=======
    margin: 2%;
>>>>>>> b8e5b52f59f01030a75a098e238ebbdefa60d02e
    text-align: center;
    width: 80%;
    border-radius: 15%;
    list-style: none;
}


.home {
	background-color: pink;
	height: 500px;
	border: 4px solid;
	text-align: center;
	font-size: 2em;
	/*background-image: url(../img/home.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

.inside1 {
	background-color: grey;
	height: auto;
	width:30%;
	border: 2px solid;
	position:relative;
	margin: 0 auto;
	top:25%;
	opacity: 0.5;
}

p {
	font-size: 0.7em;

}




.about {
	background-color: green;
	height: 500px;
	border: 4px solid;
	text-align: center;
	font-size: 2em;
	/*background-image: url(../img/parol.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

.services {
	background-color: violet;
	height: 500px;
	border: 4px solid;
	text-align: center;
	font-size: 2em;
/*	background-image: url(../img/tree.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

.projects {
	background-color: grey;
	height: 500px;
	border: 4px solid;
	text-align: center;
	font-size: 2em;
/*	background-image: url(../img/carol.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}


.gallery {
	background-color: yellow;
	height: 500px;
	border: 4px solid;
	text-align: center;
	font-size: 2em;
/*	background-image: url(../img/jose.jfif);
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Dancing Script', cursive;*/
}

footer {
	border: 1px solid;
	background-color: black;
	color: white;
}




#toggleIcon,
#toggleIcon1 {
	background-color: red;
	position: fixed;
	top: 0;
	left: 25%;
	padding: 15px;
	z-index: 1;
	color:white;
	font-size: 2em;
	margin-left: 4px;
	margin-top: 4px;
}

#toggleIcon1 {
	left:0;
}

/*Mobile Devices----------------------------------------------------------------------------------*/
@media only screen and (max-width: 568px) {

	p {
	font-size: 0.35em;
}
.inside1 {
	background-color: grey;
	height: auto;
	width:30%;
	border: 2px solid;
	position:relative;
	margin: 0 auto;
	top:25%;
	opacity: 0.5;
	/*font-size: calc(0.35 + 1vmin);*/
}
}


/*Tablet Devices----------------------------------------------------------------------------------*/
@media only screen and (min-width: 569px) and (max-width: 968px) {

	p {
	font-size: 0.47em;
}
.inside1 {
	background-color: grey;
	height: auto;
	width:30%;
	border: 2px solid;
	position:relative;
	margin: 0 auto;
	top:25%;
	opacity: 0.5;
}
}
