/*CSS Reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* To clear floats*/

.clear:after {
	content: "";
	display: block;
	clear: both;
}

/*Mobile Devices--------------------------------------------------------------------------------*/
.wrapper {
	width: 100%;
	height: 100%;
	background-color: skyblue;
	margin: 0 auto;
}

.sidebar {
	width: 20%;
	height: 100%;
	position: fixed;
	background-color: grey;
}

.rightside {
	width: 80%;
	height: 100vh;
	float: left;
	margin-left: 20%;
	background-color: yellow;
}

.logo	{
	width: 50%;
	height: 10%;
	background-color: blue;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 20%;
}

li {
	background-color: white;
    padding: 5%;
    text-align: center;
    width: 50%;
    border-radius: 15%;
    list-style: none;
    margin-left: 25%;
    margin-right: 5%;
    margin-bottom: 5%;
    font-size: 0.5rem;
}

.home {
	/*max-height: 100%*/
	height: 100%;
	width: 100%;
	/*max-width: 100%;
	max-height: 100%;*/
	background-color: skyblue;
}

.insidehome {
	max-height: 80%;
	height: auto;
	width: 50%;
	border: 5px solid white;
	position: relative;
	margin: 0 auto;
	top: 20%;
	text-align: center;
}

.about {
	height: 100%;
	width: 100%;
	background-color: pink;
}

.services {
	height: auto;
	width: 100%;
	background-color: blue;
	padding-top: 20%;
	padding-bottom: 20%;
	/*padding-left: 20%;*/
}

/*.services1,
.services2,
.services3 {
	height: 33.3333%;
	width: 100%;
	float: left;
	display: inline;
}*/

.serv1,
.serv2,
.serv3 {
	height: auto;
	width: 80%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	top: 10%;
	margin:10%;
}

.smallserv1,
.smallserv2,
.smallserv3 {
	width: 20%;
	height: 20%;
	background-color: green;
	position: relative;
	float: left;
	border: 1px solid;
	padding: : 10%;
	/*display: inline-block;*/
}

.bigserv1,
.bigserv2,
.bigserv3 {
	width:80%;
	height: auto;
	background-color: pink;
	float: right;
	position: relative;
	float:left;
}


.projects {
	height: 100%;
	width: 100%;
	background-color: red;
}

.gallery {
	height: 100%;
	width: 100%;
	background-color: yellow;
}

.gallery1,
.gallery2,
.gallery3,
.gallery4 {
	height: 25%;
	width: 100%;
	/*padding-top: : 10%;*/
}

.gal1,
.gal2,
.gal3,
.gal4 {
	height: 40%;
	width: 95%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	background-color: blue;
}

.gal1a,
.gal2a,
.gal3a,
.gal4a {
	height: 48%;
	width: 95%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	background-color: red;
}



.galcontainer {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
	top: 2%;
}

.footer {
	height: 10%;
	width: 100%;
	background-color: green;
}


#toggleIcon,
#toggleIcon1 {
	background-color: red;
	position: fixed;
	top: 0;
	left: 20%;
	padding: 15px;
	z-index: 1;
	color:white;
	font-size: 2em;
}

#toggleIcon1 {
	left:0;
}





/*Tablet Devices------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 569px) and (max-width: 968px) {

.logo	{
	width: 50%;
	height: 20%;
	background-color: blue;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 20%;
}


.gallery {
	height: 100%;
	width: 100%;
	background-color: yellow;
}

.gallery1,
.gallery2,
.gallery3,
.gallery4 {
	height: 50%;
	width: 50%;
	/*padding-top: : 10%;*/
}

.gallery1,
.gallery2 {
	position:relative;
	display: inline-block;
	float: left;
}

.gallery3,
.gallery4 {
	float: left;
	position: relative;

}

.gal1,
.gal2,
.gal3,
.gal4 {
	height: 40%;
	width: 95%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	background-color: blue;

}

.gal1a,
.gal2a,
.gal3a,
.gal4a {
	height: 48%;
	width: 95%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	background-color: red;
}
.galcontainer {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
	top: 4%;
}
}



/*Desktop Devices---------------------------------------------------------------------------------------------*/
@media only screen and (min-width: 969px) {

.logo	{
	width: 50%;
	height: 35%;
	background-color: blue;
	position: relative;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 20%;
}

.services1,
.services2,
.services3 {
	height: 100%;
	width: 33.3333%;
	float: left;
	display: inline;
}

.serv1,
.serv2,
.serv3 {
	height: 85%;
	width: 90%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	top: 10%;
}

.gallery {
	height: 100%;
	width: 100%;
	background-color: yellow;
}

.gallery1,
.gallery2,
.gallery3,
.gallery4 {
	height: 100%;
	width: 25%;
	/*padding-top: : 10%;*/
}

.gallery1,
.gallery2 {
	position:relative;
	display: inline-block;
	float: left;
}

.gallery3,
.gallery4 {
	float: left;
	position: relative;

}

.gal1,
.gal2,
.gal3,
.gal4 {
	height: 40%;
	width: 95%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	background-color: blue;

}

.gal1a,
.gal2a,
.gal3a,
.gal4a {
	height: 48%;
	width: 95%;
	border: 1px solid;
	position: relative;
	margin: 0 auto;
	background-color: red;
}
.galcontainer {
	height: 100%;
	width: 100%;
	position: relative;
	margin: 0 auto;
	top: 8%;
}

}